#debug-menu {
    position: fixed;
    top: 10px; /* Minecraft F3 biasanya di atas */
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #00ff00; /* Hijau matrix/debug biar keren */
    font-family: 'Courier New', monospace;
    padding: 8px;
    z-index: 1000;
    pointer-events: none;
    font-size: 13px;
    line-height: 1.4;
}

.pnlm-f3-button {
    width: 26px;
    height: 26px;
    background: #fff; /* Warna dasar tombol Pannellum */
    border-radius: 3px;
    margin-top: 5px; /* Kasih jarak dikit */
    color: #000;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.pnlm-f3-button:hover {
    background: #f4f4f4;
}
