#debug-menu {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000; /* Biar melayang di depan panorama */
    background: rgba(0, 0, 0, 0.5); /* Semi transparan ala Minecraft */
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace; /* Vibe retro */
    padding: 10px;
    font-size: 14px;
    pointer-events: none; /* Biar mouse tetep bisa gerakin panorama walau kena menu */
    line-height: 1.5;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.pnlm-f3-button {
    color: #000; /* Warna teks tombol F3 di kontrol */
}
